.hero-trending-container .hero-trending-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-trending {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-trending h1,
.hero-trending h2,
.hero-trending h3,
.hero-trending h4,
.hero-trending h5,
.hero-trending h6,
.hero-trending p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-trending.no-image * {
  color: var(--text-color);
}

.hero-trending picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-trending img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-trending h1,
.hero-trending.no-image h1 {
  color: #996DDF;
  font-weight: 900;
}

@media (width >= 900px) {
  .hero-trending {
    padding: 40px 32px;
  }
}
