.hero-showcase-container .hero-showcase-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-showcase {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-showcase h1,
.hero-showcase h2,
.hero-showcase h3,
.hero-showcase h4,
.hero-showcase h5,
.hero-showcase h6,
.hero-showcase p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-showcase.no-image * {
  color: var(--text-color);
}

.hero-showcase picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-showcase img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-showcase {
    padding: 40px 32px;
  }
}
