a {
	color: var(--link-text-color);
	text-decoration: none;
	width: fit-content;
	display: inline-block;

	&:after {
		content: "";
		height: 3px;
		background: var(--red);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: bottom right;
		transform-origin: bottom right;
		display: block;
		transition: transform .25s ease-out;
	}

	&:hover {
		&:after {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
			-webkit-transform-origin: bottom left;
			transform-origin: bottom left;
			transition: transform .25s ease-out;
		}
	}

	&.button {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		margin: 0;
		border-radius: 4px;
		padding: 16px;
		text-decoration: none;
		cursor: pointer;
		overflow: hidden;
		font: normal 700 var(--button-font-size) / var(--button-line-height) var(--body-font-family);

		&.primary {
			background-color: var(--background-color);
			color: var(--link-text-color);
			transition-property: color, background;
			transition-duration: 0.35s;
			transition-timing-function: ease;

			.button-text {
				display: flex;
				justify-content: center;
				position: relative;
				top: 0;
				transition-property: top;
				transition-duration: 0.35s;
				transition-timing-function: ease;

				&::before {
					content: attr(
						data-animation-text
					); /*This attribute must be added to CTAs. Populate with CTA text.*/
					position: absolute;
					top: -48px;
				}
			}

			&:hover {
				color: var(--red-tint-1);
				background: var(--blue);

				.button-text {
					top: 48px;
				}

				&:active {
					background: var(--blue-tone-1);
				}
			}
		}
		
	}

}
